
/*.delete {

}*/
h1 {
	color: orange;
	font-family: "Century Gothic", sans-serif;
}

#output {
	font-family: "Century Gothic", sans-serif
}

body {
	background-color: lightblue;
	margin: 0 333px;
}

#input {
	border-style: solid;
	padding: 5px;
}

@import "compass/css3";

button, .button, input[type=submit] {
  border: 0;
  background: #5786c1;
  color: white;
  padding: 4px 7px;
  margin: 5px 0 0 5px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block; /* needed for anchors */
  position: relative;
	box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
              2px 1px #3a587f, 1px 2px #4171ae,
              3px 2px #3a587f, 2px 3px #4171ae,
              4px 3px #3a587f, 3px 4px #4171ae,
              5px 4px #3a587f, 4px 5px #4171ae,
              6px 5px #3a587f, 5px 6px #4171ae;
	&:hover, &:focus,
  &.hover, &.focus {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
              2px 1px #3a587f, 1px 2px #4171ae,
              3px 2px #3a587f, 2px 3px #4171ae,
              4px 3px #3a587f, 3px 4px #4171ae;
  }
  &:active,
  &.active {
   	transform: translate(4px, 4px);
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
              2px 1px #3a587f, 1px 2px #4171ae;
  }
}
